@model IEnumerable<meinPortfolio.Models.Project>


<section>
    <div class="max-w-6xl mx-auto">
        <h1 class="text-3xl font-bold mb-6 border-b-2 border-white pb-2">
            PROJECTS.DIR
        </h1>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 ">
            @foreach (var p in Model)
            {
                <div class="border-2 border-white bg-gray-900 relative">
                    <div class="border-b-2 border-white p-4 bg-green-400 text-black">
                        <h3 class="text-xl font-bold">@p.Title</h3>
                    </div>
                    <div class="p-6 pb-12 ">
                        <p class="mb-4">
                            @p.Description
                        </p>
                        @if(p.BulletPoints != null && p.BulletPoints.Length > 0)
                        {
                            <ul class="list-disc ml-5 mb-4 text-sm leading-relaxed">
                                @foreach (var point in p.BulletPoints)
                                {
                                    <li>@point</li>
                                }
                            </ul>
                        }
                        <div class="mb-4">
                            <span class="text-green-400 font-bold">STACK:</span>
                            <code class="ml-2">
                                        @string.Join(" · ", p.Stack)
                            </code>
                        </div>
                      
                        <div class="absolute bottom-4 mt-8 flex flex-wrap items-center gap-2">
                            <partial name="~/Pages/Partials/_ProjectActions.cshtml" model="p" />
                            @* <a class="btn-bg"
                                href="/project/@p.Slug">Detail</a> *@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
