<section>
    <div class="max-w-6xl mx-auto">
    <h2 class="text-3xl font-bold mb-6 border-b-2 border-white pb-2 ">
        RESUME.PDF
    </h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <div class="lg:col-span-2 border-2 border-white p-6 bg-gray-900">
            <h3 class="text-xl font-bold mb-4 text-green-400">
                EXPERIENCE:
            </h3>

            <div class="mb-6">
                <h4 class="font-bold">SOFTWARE DEVELOPER</h4>
                <p class="text-green-400">
                    Vatan Computer | 2025 - Present
                </p>
                <ul class="mt-2 space-y-1">
                    <li>
                        • Gained hands-on experience in .NET MVC architecture by
                        debugging controller-service-model flows and fixing
                        logic-level issues.
                    </li>
                    <li>
                        • Delivered features like PC Build Wizard, product
                        comparison drawer, AJAX filtering, and store locator.
                    </li>
                    <li>
                        • Migrated frontend framework from Bootstrap 3 to 5,
                        maintained legacy modules (jQuery, SCSS, JS).
                    </li>
                    <li>
                        • Built reusable utilities and integrated Google Tag Manager
                        for analytics.
                    </li>
                </ul>
            </div>

            <div class="mb-6">
                <h4 class="font-bold">SOFTWARE DEVELOPER </h4>
                <p class="text-green-400">
                    Ideon Information Technologies | 2023 - 2025
                </p>
                <ul class="mt-2 space-y-1">
                    <li>
                        • Implemented real-time features using WebSocket,
                        collaborated on API integration and backend debugging.
                    </li>
                    <li>
                        • Designed & developed AI-integrated mobile apps (e.g.,
                        Foodion) using React Native (Expo) and web UIs with Next.js,
                        TanStack Query, Tailwind CSS.
                    </li>
                    <li>
                        • Delivered scalable, production-ready mobile & web
                        solutions in agile teams.
                    </li>
                </ul>
            </div>


            <div class="mb-6">
                <h4 class="font-bold">INTERN ENGINEER</h4>
                <p class="text-green-400">
                    Mebant Insulation and Tape Industry INC. | 2022 - 2023
                </p>
                <ul class="mt-2 space-y-1">
                    <li>
                        • Contributed to an internal .NET-based admin panel project
                        with teammates.
                    </li>
                </ul>
            </div>

            <div class="mb-6">
                <h4 class="font-bold">INTERN ENGINEER</h4>
                <p class="text-green-400">
                    Eskisehir Industrial Zone Directorate | 2021 - 2022
                </p>
                <ul class="mt-2 space-y-1">
                    <li>
                        • Gained experience in SQL Server through data normalization
                        tasks.
                    </li>
                </ul>
            </div>
        </div>

        <div class="border-2 border-white p-6 bg-gray-900">
            <h3 class="text-xl font-bold mb-4 text-green-400">
                EDUCATION:
            </h3>

            <div class="mb-4">
                <h4 class="font-bold">B.S. SOFTWARE ENGINEERING</h4>
                <p class="text-green-400">Uskudar University | 2023</p>
                <p>
                    * 75% Scholarship
                    <br />* GPA: 3.25
                    <br />* 100% English
                    <br />* (PEIC) - C1
                </p>
            </div>

            <div class="mb-4 mt-6">
                <h4 class="font-bold">
                    B.S. MANAGEMENT INFORMATION SYSTEMS
                </h4>
                <p class="text-green-400">Anadolu University | 2026</p>
                <p>* GPA: 3.67</p>
            </div>

            <h3 class="text-xl font-bold mb-4 text-green-400 mt-6">
                CERTIFICATIONS:
            </h3>
            <ul class="list-disc ml-5 text-sm">
                <li>
                    Generative AI: Prompt Engineering Basics – IBM (In Progress)
                </li>
            </ul>

            <h3 class="text-xl font-bold mb-4 text-green-400 mt-6">
                LANGUAGES:
            </h3>
            <p>
                Turkish – Native
                <br />
                English – Full Professional
                <br />
                German – Elementary
            </p>

            <div class="mt-8">
                <a href="/assets/oznuroznur.pdf"
                target="_blank" rel="noopener noreferrer"
                    class="border-2 border-green-400 bg-green-400 text-black px-4 py-2 hover:text-white hover:bg-black hover:bg-[url('/assets/banner-bg.png')] hover:bg-cover hover:bg-center flex items-center gap-2 justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-download-icon lucide-download">
                        <path d="M12 15V3" />
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                        <path d="m7 10 5 5 5-5" />
                    </svg>
                    DOWNLOAD_RESUME.PDF
                </a>
            </div>
        </div>
    </div>
    </div>
</section>